/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* 1 Reset Style Sheet
   ========================================================================== */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 2 Clear Fix
   ========================================================================== */

.cf:before,
.cf:after {
	display: table;
	content: " ";
}

.cf:after {
	clear: both;
}

.cf {
	*zoom: 1;
}

/* Font Declaration
========================================================================== */

@font-face {
	font-family: "ptsans-reg";
	src: url("../vendor/webfonts/PT_Sans/PTSans-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "ptsans-bold";
	src: url("../vendor/webfonts/PT_Sans/PTSans-Bold.ttf") format("truetype");
}

@font-face {
	font-family: "ptsans-boldItalic";
	src: url("../vendor/webfonts/PT_Sans/PTSans-BoldItalic.ttf") format("truetype");
}

/* 3 Common Stylings
   ========================================================================== */
* {
	transition: 0.2s ease-in-out;
}

h2,
h3,
h4 {
	font-family: "ptsans-bold";
}

a,
button,
input,
select,
textarea {
	outline: none;
}

body {
	font-family: "ptsans-reg";
}

img {
	width: 100%;
}

ul {
	list-style: none;
}

select {
	border: none;
}

a {
	color: inherit;
	display: inline-block;
	text-decoration: none;
	transition: 0.5s ease-in-out;
}

/* Container
========================================================================== */

.container {
	width: 100%;
	background-color: black;
}

/* Wrapper
========================================================================== */

.wrapper {
	width: 90%;
	margin: 0 auto;
	/* max-width: 1435px;  */
}

/* Header
========================================================================== */

header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 5;
	background: #fff;
}

header .wrapper,
nav,
.navigation,
.navigtaion__sm {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header .wrapper {
	padding: 20px 0;
}

h1 {
	flex: 0 1 10%;
}

h1 a {
	width: 100%;
	text-indent: -9999px;
}

h1 img {
	float: right;
}

.navigtaion__sm li {
	width: 52px;
	height: 52px;
	margin-right: 4px;
	background: #c7b198;
	border-radius: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.navigtaion__sm li:hover a {
	transform: rotateY(360deg);
}

.hamburger {
	width: 21px;
}

.hamburger__top,
.hamburger__mid,
.hamburger__bottom {
	width: 100%;
	height: 3px;
	margin-top: 4px;
	display: block;
	z-index: 10;
	transform-origin: left;
	transition: 0.5s ease;
	background-color: #7f7f7f;
	text-indent: -9999px;
	cursor: pointer;
}

.hamburger__top {
	margin-top: 0;
}

.cross .hamburger__top {
	transform: rotate(45deg);
}
.cross .hamburger__mid {
	opacity: 0;
}
.cross .hamburger__bottom {
	transform: rotate(-45deg);
}

nav {
	margin-left: 34px;
}

nav span {
	font-size: 20px;
	margin-right: 4px;
}

.navigation__main {
	position: absolute;
	top: 90px;
	left: 0;
	right: 0;
	background: #fff;
	padding: 0 6%;
	max-height: 0;
	overflow: hidden;
	border-top: 2px solid #cbcbcb;
}

.navigation__main li {
	padding: 20px 0;
	font-size: 20px;
}

.navigation__main .active,
.navigation__main li a:hover {
	color: #c7b198;
}
